:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7; /* --background-color */
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2; /* --bottom */
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Quicksand', sans-serif;
}

nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    background-color: var(--white);
    box-shadow: 0px 0px 5px 0px var(--very-light-pink);

    & img{
        height: 100%;
        cursor: pointer;
    }
}

/* -------------- Mobile Menu -------------- */

.mobile-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    gap: 40px;
    position: fixed;
    top: 60px;
    left: -220px;
    opacity: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: 0px 0px 5px 0px var(--very-light-pink);
    transition: all 1s ease;
    
    & ul{

        & li{
            margin: 5px 0px;

            & span{
                display: inline-block;
                font-size: var(--sm);
                font-weight: bold;
                padding: 5px 15px;
                color: var(--very-light-pink);
            }

            & a{
                color:var(--black);
                display: inline-block;
                padding: 5px 15px;
                border: 1px solid var(--white);
                border-radius: 20px;

                &:hover{
                    color: var(--hospital-green);
                    border: 1px solid var(--hospital-green);
                    border-radius: 20px;
                }

                &:focus{
                    color: var(--white);
                    background-color: var(--hospital-green);
                }
            }

        }
    }
}

.login-list{
    display: none;
}

/* -------------- Shopping Cart -------------- */

.shopping-cart-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    gap: 40px;
    position: fixed;
    top: 60px;
    right: -420px;
    opacity: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: 0px 0px 5px 0px var(--very-light-pink);
    transition: all 1s ease;

    & .shopping-cart-title{
        display: inline-block;
        width: 100%;
        font-size: var(--sm);
        font-weight: bold;
        padding: 5px 15px;
        color: var(--very-light-pink);
        border-bottom: 1px solid var(--very-light-pink);
    }
    
    & .cart-list{

        & li{
            position: relative;
            display: grid;
            grid-template-columns: 80px auto;
            align-items: center;
            margin: 5px;
            background-color: var(--text-input-field);
            border-radius: 10px;
            overflow: hidden;

            & img{
                width: 80px;
                height:80px;
                padding: 5px;
                border-radius: 10px;
                object-fit: cover;
            }
            
            & b{
                position: absolute;
                top: 5px;
                right: 5px;
                width: 20px;
                height: 20px;
                font-size: var(--lg);
                color: var(--hospital-green);
                text-align: center;
                cursor: pointer;
            }
            
            & .product-info{

                & p:nth-child(1){
                    display: inline-block;
                    width: 120px;
                    font-weight: bold;
                    margin: 5px 10px;

                }

                & label{
                    font-size: var(--sm);
                    color: var(--very-light-pink);
                }

                & p:nth-child(3){
                    font-size: var(--sm);
                    height: 35px;
                    margin: 5px 10px;
                }
    
                & input{
                    width: 40px;
                    height: 20px;
                    text-align: center;
                }
            }

        }
    }

    & button{
        background-color: var(--hospital-green);
        border-radius: 5px;
        border: none;
        color: var(--white);
        width: 100%;
        cursor: pointer;
        font-size: var(--md);
        font-weight: bold;
        height: 50px;
        transition: all 400ms ease;

        &:focus{
            background-color: var(--white);
            color: var(--hospital-green);
            border: 1px solid var(--hospital-green);
        }
    }
}

.active-left{
    left: 10px;
}

.active-right{
    right: 10px;
}

/* ---------------- Cards ------------- */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    place-content: center;
    gap: 20px;
    margin: 70px 0px;

    & .product-card{
        width: 220px;
        padding: 10px;
        border-radius: 20px;
        background-color: var(--text-input-field);
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);

        & .product-img {
            width: 100%;
            height: 180px;
            object-fit: cover;
            border-radius: 10px;
        }
        
        & .product-info {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;

            & figure img {
                width: 40px;
                height: 40px;
                cursor: pointer;
            }

            & div p:nth-child(1){
                font-weight: bold;
                font-size: var(--md);
                margin-bottom: 4px;
            }

            & div p:nth-child(2) {
                font-size: var(--sm);
                margin-top: 0;
                margin-bottom: 0;
            }

        }
    }
}